#trump {
  height: 300px;
}

#mainContainer {
  background-image: url(//images.latintimes.com/sites/latintimes.com/files/2016/04/14/donald-trumpitas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;  
  height: 1000px;
  width: 1600px;
  width
  color: white;
}

body {
  color: white;
}